.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;

	.header-top {
		background: $background;
		height: 80px;
		display: flex;
    	align-items: center;

    	@media #{$desktop-medium} {
	      height: 110px;
	    }

		.wrapper {
			display: flex;
	    	justify-content: space-between;
	    	align-items: center;

			.logo {

				img {
					height: 70px;

					@media #{$desktop-medium} {
				      height: 95px;
				    }
				}
			}

			.phrase {
				display: none;

				@media #{$desktop-medium} {
			      display: block;
			    }

				h2 {
					color: $salmon;
					font-style: italic;
					font-size: 34px;
				}
			}

			.navigation {			

				ul {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 480px;

					li {
						color: $blue;
					}
				}
			}
		}
	}

	.header-bottom {
		background: $salmon;
		height: 40px;
		display: flex;
    	align-items: center;

		.wrapper {
			display: flex;
			justify-content: center;

			h3 {
				color: $background;
				margin: 0 8px;
				font-size: 22px;
			}
		}
	}
}